*{
    box-sizing: border-box;
    padding: 0;
    margin: 20px;
    background-color: #3e3e3e;
    color: #fff;
}

body{
    border: 4px solid #bada55;
}

header{
    border: 4px solid purple;
}

aside{
    border: 4px solid red;
    float: left;
    width: 20%;
}

main{
    border: 4px solid blue;
    float: right;
    width: 70%;
}

section::after {
    content: "";
    display: table;
    clear: both;
}

footer{
    border: 4px solid cornflowerblue;
}

.menu{
    list-style: none;
}

@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }